@charset "utf-8";
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
	background-color: #0F6;
	border-radius: .5px;
}

::-webkit-scrollbar
{
	width: .5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 1px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}
*{margin:0; padding:0;}
body{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
 .header{
	background:black;
	width:100%;
	margin-top:0;
	height:9%;
	position:fixed;
}

.footer{
	width:100%;
	height:9%;
	background:black;
	position:fixed;
	bottom:0px;		
}
.footer div{

	display:inline-block;
	float:left;
	width:20%;
	height:auto;
	background:none;	
}
.footer div input{
	margin-left:23%;
	width:45%;
	height:65%;
	margin-top:15%;
	outline:none;
}
#back-btn{display:none;}

#back-btn {
	height:100%;
	float:left;
}
#title {
	height:100%;
	color:#FFF;
	margin:4.5% 0 0 2.5%;}
#title img{
	display:inline-block;
	height:50%;
	position:relative;
}
#title0 {
	display:inline-block;
	top:2.5%;
	margin-left:2%;
}
#title0 p{
	font-size:110%;
	display:inline-block;
	}
.section{
	background:none;
}


.page{
	background-image:url(../img/fondo.jpg);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.page.center{
	-webkit-transform: translate3d(0,0,0);
	transform:translate3d(0,0,0);
	margin-top:0;
}
.cartelera{
position:absolute;
background:none;
margin:2%;
top:9%;
height:30%;
}
.cartelera img{width:100%;height:100%;}
.header-1 {
	position:absolute;
	width:100%;
	height:12%;
	top:40%;
}
 #header-2{
	text-align:center;
	font-size:200%;
	color:white;
	height:100%;

}

.page .rightTotal{
	background-image:url(../img/fondo.jpg);
	position:fixed;
	z-index:1;
	width:100%;
	top:9%;
	bottom:9%;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0);
	overflow:auto;
}

